[submodule "rave-treesitter"]
	path = rave-treesitter
	url = git@github.com:rave-lang/rave-treesitter.git
[submodule "rave"]
	path = rave
	url = git@github.com:rave-lang/rave.git
[submodule "rave-vscode"]
	path = rave-vscode
	url = git@github.com:rave-lang/rave-vscode.git
